/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,700');

body{
  font-family: 'Titillium Web', sans-serif;
  padding: 3em;
  background: #2e9ce7;
  color: #fff;
}
ul{
  list-style-type: none;
  margin: 0 0 2em 0;
  padding: 0;
}

ul li{
  display: inline;
  margin-right: 30px;
}

ul li a{
  font-size: 1.5em;
}

a{
  color: #fff;
  text-decoration: none;
}
